body{
    font-family: 'Lato', sans-serif;
}

div{
    border: 3px solid rgb(136, 15, 176);
    text-align: center;
    padding: 2rem;
    margin: 0 25%;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}
